<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.webpresso.yohanes.bakingday">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.RecipeIndexActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RecipeDetailActivity" />
        <activity android:name=".ui.RecipeStepDetailActivity" />

        <provider
            android:name=".provider.RecipeProvider"
            android:authorities="@string/app_namespace"
            android:exported="true" />

        <service android:name=".service.RecipeService" />

        <service
            android:name=".widget.RecipeIngredientListService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver android:name=".widget.RecipeIngredientsAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_ingredients_app_widget_info" />
        </receiver>

        <activity android:name=".widget.RecipeIngredientsAppWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>